<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HOME</title>
    <meta charset="UTF-8">
</head>
<body>
    <h1>HOME</h1>
    <a href="/oauth2/authorization/google"><img src="/image/google_button.png" width="310" height="60"/></a><br>
    <a href="/oauth2/authorization/naver"><img src="/image/naver_button.png" width="310" height="60"/></a><br>
    <a href="/oauth2/authorization/kakao"><img src="/image/kakao_button.png" width="310" height="60"/></a><br>
</body>
</html>